rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir todas las lecturas y escrituras (solo para desarrollo)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
